(This notebook is for **the week 3** assignment of the **Coursera Applied Data Science Capstone** module.)
### Segmenting and Clustering Neighborhoods in Toronto

In [34]:
# install web-scraper (following: https://youtu.be/ng2o98k983k)
! pip install beautifulsoup4 # uncomment if not installed
! pip install lxml # uncomment if not installed
! pip intsall html5lib # uncomment if not installed
! pip install requests # uncomment if not installed

Import libraries and get wikipedia page content.

In [35]:
import pandas as pd # import pandas library
import requests # import requests library
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' # url to be scraped
page_response = requests.get(url) # fetch the url content using the requests library
src=page_response.content # set the content of the repsonse to a variable #https://realpython.com/python-requests/

Import the beautiful soup library, create the soup object and output the page title.

In [36]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(src, 'lxml') # pass the variable to BeautifulSoup, https://youtu.be/87Gx3U0BDlo                    
#print(soup)
soup.title.text # output the title of the soup object #https://www.pluralsight.com/guides/extracting-data-html-beautifulsoup

'List of postal codes of Canada: M - Wikipedia'

Create a variable for the table only. Find all the tr tagged data in the table.

In [37]:
table=soup.find("table",{"class":"wikitable sortable"})  #https://stackoverflow.com/questions/33766740/beautifulsoup-find-table-with-specified-class-on-wikipedia-page
table_data = table.tbody.find_all("tr") # in the tabe body find all tr tags 
# uncomment a line to check the data
#print(table) 
#df.head() 
#print(table.title) 
#print(table_data)

Get and print the table headings.

In [38]:
headings = []
for th in table_data[0].find_all("th"):
    headings.append(th.text.replace('\n',''))
print(headings) # list of table headings

['Postcode', 'Borough', 'Neighbourhood']

Get the data from the table for one row to check it.

In [39]:
data_list = []
for td in table_data[287].find_all("td"):
    data_list.append(td.text.replace('\n',''))
print(data_list)

['M9Z', 'Not assigned', 'Not assigned']

Get the data from the table for **all rows**.

In [40]:
data_list = [] # variable ofr list off all data we want
for i in range(0,len(table_data)-1):
    for td in table_data[i].find_all("td"): # finds all the td tags in the html
        data_list.append(td.text.replace('\n','')) # add the row to the list
#print(data_list) # uncomment to check

Sanity check the result.

In [41]:
print('Length of list = ', len(data_list), sep='')
print('Number of columns = ', len(headings), sep='')
print('Number of rows in the table = ', int(len(data_list)/len(headings)), sep='')

Length of list = 858
Number of columns = 3
Number of rows in the table = 286

Reshape the list as an array and cast to a dataframe.

In [42]:
import numpy as np
reshaped_array=np.reshape(np.asarray(data_list), (int(len(data_list)/len(headings)) , len(headings))) # reshape the array
df=pd.DataFrame(reshaped_array) # make the result a dataframe
df.columns=headings # assign the table headings as the column names
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Condition to find the 'Not Assigned' **Boroughs**, and remove them.

In [43]:
condition=df['Borough']=='Not assigned' # the condition that we don't want https://github.com/pandas-dev/pandas/issues/20944
df=df[~condition] # pick rows that do not (~) satisfy the condition
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

Group the dataframe by **'Postcode'** and **'Borough'** and apply the join function to the grouped **'Neighborhood'** data.

In [45]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join) #https://realpython.com/pandas-groupby/
df=df.to_frame().reset_index() # reset index
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Condition to find the 'Not Assigned' **Neighbourhoods**, and remove them.

In [47]:
condition=df['Neighbourhood']=='Not assigned' # the condition that we don't want https://github.com/pandas-dev/pandas/issues/20944
for i in range(0,len(condition-1)):
    if condition[i]==True:
        df['Neighbourhood'][i]=df['Borough'][i]      
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [48]:
print('Number of rows in the dataframe = ', df.shape[0], sep='')

Number of rows in the dataframe = 103

In [49]:
postal_code=df.loc[0]['Postcode'] # first bracket is the index of the row, second bracket is the column
postal_code

'M1B'

Instantiate new columns for latitude and longitude

In [62]:
df['Latitude']=None
df['Longitude']=None
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",None,None
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",None,None
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",None,None
3,M1G,Scarborough,Woburn,None,None
4,M1H,Scarborough,Cedarbrae,None,None

Use OpenCage Geocoding API (https://opencagedata.com/api) to get latitude and longitude

In [68]:
!pip install opencage
from opencage.geocoder import OpenCageGeocode
key = 'ffa8658ade93408d9d4b84e1becce415'
geocoder = OpenCageGeocode(key)

for i in range(len(df)):
    postal_code=df.loc[i]['Borough'] + ', ' + df.loc[i]['Postcode']
    address = u'{}, Canada'.format(postal_code) # address to query
    results = geocoder.geocode(address)
    longitude = results[0]['geometry']['lng']
    latitude = results[0]['geometry']['lat']
    #print(address, latitude, longitude) # uncomment to check each result
    df.loc[i]['Latitude']=latitude # assign latitude in dataframe
    df.loc[i]['Longitude']=longitude # assign longitude in dataframe

In [70]:
df[0:12]

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.7731,-79.2578
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.7731,-79.2578
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.7678,-79.1866
3,M1G,Scarborough,Woburn,43.7627,-79.2309
4,M1H,Scarborough,Cedarbrae,43.7686,-79.2389
5,M1J,Scarborough,Scarborough Village,43.7464,-79.2323
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.7298,-79.2639
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.7122,-79.2843
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.7247,-79.2312
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.6952,-79.2646
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.7612,-79.2707
11,M1R,Scarborough,"Maryvale, Wexford",43.7507,-79.3003